.room-next-room {
    max-width: 1200px;
    margin: 5rem auto;
    display: flex;
    justify-content: center;
    padding: 0 2rem;
    text-align: center;
}

.next-room-wrapper {
    position: relative;
    display: inline-block;
}

.next-room-info {
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}

.label {
    font-size: 4rem;
    color: #b94d1b;
    text-decoration: uppercase;
    letter-spacing: 1.5px;
    margin: 5rem;
    font-weight: bold;
}

.next-room-title {
    font-size: 1.6rem;
    font-weight: 600;
    margin: 0;
}

.next-room-image img {
    width: 400px;
    height: 400px;
    border-radius: 100% ;
    object-fit: cover;
    color:  rgb(255, 255, 255);
}

.next-room-image-link {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.next-room-image-link::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 80%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #111;
    color: #fff;
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 3rem;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 10;
}

.next-room-image-link:hover::after {
    opacity: 1;
}